* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container .cube {
    width: 800px;
    height: 450px;
    box-shadow: inset 0px 0px 0px rgb(133, 133, 133), 15px 10px 10px rgb(133, 133, 133);
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    animation: move 5s infinite 2s linear;
}

@keyframes move {
    0% {
        width: 800px;
        height: 450px;
    }
    10%{
        width: 100px;
        height: 450px;
    }
    20% {
        width: 100px;
        height: 100px;
    }
    40% {
        width: 100px;
        height: 100px;
        transform: scale(1);
        box-shadow: inset 0px 0px 0px rgb(133, 133, 133),
          15px 10px 10px rgb(133, 133, 133);
    }
    43% {
        box-shadow: inset 25px 20px 20px rgb(133, 133, 133),
          15px 10px 10px rgb(133, 133, 133);
    }
    45% {
        transform: scale(0.9);
        width: 100px;
        height: 100px;
        box-shadow: inset 25px 20px 20px rgb(133, 133, 133),
          15px 10px 10px rgb(133, 133, 133);
    }
    50% {
        transform: scale(1);
        width: 100px;
        height: 100px;
        box-shadow: inset 0px 0px 0px rgb(133, 133, 133),
          15px 10px 10px rgb(133, 133, 133);
    }
    60% {
        width: 100px;
        height: 100px;
    }
    70% {
        width: 100px;
        height: 450px;
    }
    90% {
        width: 800px;
        height: 450px;
    }
}